<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      MusicApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <audio controls *ngIf="selectedSongUrl">
    <source [src]="selectedSongUrl" type="audio/mp4">
  </audio>

  <ion-list>
    <ion-item *ngFor="let song of songs" (click)="playSong(song)">
      <ion-thumbnail slot="start">
        <img [src]="song.thumbnailUrl">
      </ion-thumbnail>
      <ion-label>
        <h2>{{song.title}}</h2>
        <p>{{song.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!songs">
    <ion-item *ngFor="let element of skeletonElements">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
